.c-subject-header {
  width: 100%;
  position: relative;
  height: 180px;
  display: flex;
  justify-content: center;
  background: $brand-color;
  overflow: hidden;

  @include mq(tablet) {
    height: 240px;
  }

  @include mq(desktop) {
    height: 320px;
    align-items: center;
  }

  &__illustration-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;

    @include mq(desktop) {
      width: 5000px;
      left: auto;
    }
  }

  &__illustration {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;

    @include mq(desktop) {
      left: auto;
      width: auto;
      right: 0;
    }

    img {
      width: 100%;

      @include mq(desktop) {
        width: auto;
      }
    }
  }

  &__heading {
    @include font-size(24px, 28px);
    color: $white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    margin: $spacing--medium 0 0 0;
    font-weight: $font-weight-bold;
    padding: 0 $spacing;

    @include mq(tablet) {
      @include font-size(35px, 40px);
    }

    @include mq(desktop) {
      margin: 0;
      @include font-size(52px, 52px);
      padding: 0 0 0 $subject-margin;
    }
  }
}
