.c-frontpage-film {
  margin-top: $spacing--large;
  &__image {
    background: $brand-color--lighter;
    background-size: 0 0;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: $spacing $spacing--medium $spacing $spacing;
    // span {
      color: $brand-color--dark;
      @include font-size(16px, 26px);
    // }
    @include mq(tablet) {
      background-size: contain;
      min-height: 250px;
      background-position: -100px center;
      font-weight: $font-weight-semibold;
      span {
        max-width: 66.6%;
      }
    }
    @include mq(700px) {
      background-position: -60px center;
    }
    @include mq(desktop) {
      @include font-size(18px, 26px);
      min-height: 300px;
      background-position: -30px center;
    }
  }
}
