.c-frontpage-search-section {
  margin-top: $spacing;

  @include mq(tablet) {
    display: none;
  }

  &__heading {
    @include visually-hidden();
  }
  .c-search-field__input-wrapper {
    padding: 0;
  }
}
